<!doctype html>
<html>
  <head>
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <title>Reset password</title>
  </head>

  <body
    style="
      width: 100%;
      table-layout: fixed;
      background-color: #f5f5f5 !important;
      padding-bottom: 30px;
      margin-top: 0;
    "
  >
    <main>
      <div style="margin: auto; height: 700px; padding-top: 30px; width: 100%">
        <table
          role="presentation"
          style="
            background-color: #131416 !important;
            border-radius: 15px;
            margin: auto;
            width: 80%;
            min-height: 600px;
            text-align: center;
          "
          align="center"
        >
          <tbody>
            <tr>
              <td align="center" valign="middle">
                <div
                  style="
                    font-weight: 600;
                    font-size: 28px;
                    line-height: 42px;
                    color: #ffffff;
                    margin-bottom: 15px;
                  "
                >
                  Changing your password
                </div>

                <div
                  style="
                    font-weight: 400;
                    font-size: 22px;
                    line-height: 29px;
                    color: #ffffff;
                    margin-bottom: 30px;
                  "
                >
                  Need to reset your password? No problem. Just click below to
                  get started.
                </div>

                <a
                  href="{{url}}"
                  target="_blank"
                  style="
                    display: inline-block;
                    padding: 16px 35px;
                    background-color: #0ef191;
                    border-radius: 999px;
                    font-weight: 600;
                    font-size: 16px;
                    text-align: center;
                    color: #131416;
                    text-decoration: none;
                  "
                >
                  Reset your password
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </main>

    <footer>
      <div style="margin: 50px auto; width: fit-content"></div>

      <div
        style="
          background: #131416;
          height: 2px;
          margin: 22px auto 6px;
          width: 89%;
          margin-bottom: 50px;
        "
      ></div>
      <table style="width: fit-content; margin: auto">
        <tbody style="width: fit-content"></tbody>
      </table>

      <div style="text-align: center; color: #9ca0a8; margin-top: 30px">
        If you have any questions, feel free message us at
        <span style="color: black">support@moneytree.com.</span> All right
        reserved.
      </div>

      <table style="color: #9ca0a8; width: fit-content; margin: 30px auto">
        <tbody style="width: fit-content">
          <tr style="width: fit-content">
            <td
              style="
                width: fit-content;
                border-right: 1px solid #9ca0a8;
                padding-right: 20px;
              "
            >
              <a style="text-decoration: underline">Terms of use</a>
            </td>
            <td style="width: fit-content; padding: 0 20px">
              <a style="text-decoration: underline">Privacy policy</a>
            </td>
          </tr>
        </tbody>
      </table>
    </footer>
  </body>
</html>
